   <div class="header">
    <div class="menu-btn">
      <div class="menu"></div>
    </div>
    <h1 class="logo">
      <a href="javascript:void(0);">
        <span>MYBLOG</span>
        <img src="/img/logo.png"/>
      </a>
    </h1>
    <div class="nav">
      <a href="toPage?url=index" class="active">文章</a>
      <a href="toPage?url=whisper">微语</a>
      <a href="toPage?url=leacots">留言</a>
      <a href="toPage?url=album">相册</a>
      <a href="toPage?url=about">关于</a>
    </div>
    <!-- <ul class="layui-nav header-down-nav">
      <li class="layui-nav-item"><a href="toPage?url=index" class="active">文章</a></li>
      <li class="layui-nav-item"><a href="toPage?url=whisper">微语</a></li>
      <li class="layui-nav-item"><a href="toPage?url=leacots">留言</a></li>
      <li class="layui-nav-item"><a href="toPage?url=album">相册</a></li>
      <li class="layui-nav-item"><a href="toPage?url=about">关于</a></li>
    </ul> -->
    <p class="welcome-text">
      欢迎来到<span class="name">QHR</span>的博客~
    </p>
  </div>

